header {
    position: sticky;
    top: 0px;
    z-index: 1000;
    transition: top .5s;
    .container {
      padding: 0px;
      position: relative;
    }
  }
  .header-top{
    padding: 0px 19px 0px 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #144C66;
    width: 100%;
    &__left{
        display: flex;
        align-items: center;
        .header-top__btn{
            min-height: 20px;
            height: 20px;
            width: 22px;
            &.header-top__btn--close{
               display: none;
            }
          }
        .header-top__mobile-logo{
            display: none;
        }
        .header-top__logo{
            margin-left: 25px;
            display: flex;
            align-items:center;
            height: 20px;
            img{
                display: flex;
                align-items:center;
                height: 20px;
            }
          }
          .header-top__menu-list{
            align-items:center;
            margin-left: 20px;
            display: flex;
            li{
                &:first-child{
                    border-left: 1px solid #0E3C52;
                }
                padding: 0px 25px;
                border-right: 1px solid #0E3C52;
                a{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 54px;
                    color:white;
                    &:hover{
                        opacity: 0.6;
                    }
                }
            }
        }
    }
    &__right{
        display: flex;
        align-items:center;
        .header-top__search{
            margin-right: 25px;
            display: flex;
            align-items:center;
            height: 30px;
        }
        .header-top__info-img{
            display: flex;
            align-items:center; 
        }
    }
}
.header-bottom {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px 12px 0px;
    border-bottom: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    &__left {
        h1 {
            font-family: 'Arimo';
            font-size: 15px;
            font-weight: 700;
            line-height: 24px;
        }
        display: flex;
        align-items: center;
        padding-right: 19px;
        border-right: 1px solid #CCCCCC;
    }
    &__right {
        display: flex;
        align-items: center;
        .header-bottom__contact {
            padding-left: 19px;
            margin-left: 23px;
            border-left: 1px solid #CCCCCC;
            display: flex;
            align-items: center;
        }
        .header-bottom__Currencies {
            display: flex;
            align-items: center;
        }
    }
}
.header-menu {
    position: absolute;
    transition: left .3s ease-out;
    background-color:#242424;
    overflow: hidden;
    border-top:1px solid rgba(255, 255, 255, 0.2);
    width: 160px;
    display: none;
    z-index: 100;
    grid-template-columns: 1fr;
    height:  95vh;
    .header-menu__nav {
      flex-direction: column;
      padding-top: 20px;
        li {
            a {
                display: flex;
                line-height: 1.5;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                color:#ababab;
                padding: 7px 0px 8px 0px;
                text-decoration: none;
                justify-content: center;
                align-items: center;

                &:hover{
                    opacity: 0.5;
                }
                &:active{
                    opacity: 0.5;
                }
              }
        }
    }
    .header-menu__bottom{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: end;
        width: 100%;
        margin-bottom: 50px;
        .header-menu__link{
            font-weight: 400;
            color:#FFFFFF;
        }
        &:hover{
            opacity: 0.5;
        }
        &:active{
            opacity: 0.5;
        }
    }
}
.footer{
    color: white;
    a{
        color: white;
    }

    
}
.container__display_flex{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.footer-top{
    background-color: #333333;
    border-top: 9px solid #144C66;
    padding: 28px 0px;
    display: flex;
    justify-content: space-between;
    align-items:center;

    .footer-top__socialnetwork{
        display: flex;
        align-items:center;
        
        .footer-top__text{
            padding-right: 20px;
            font-family: Open Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #DDDDDD;
        }
        .footer-top__socialnetwork-img{
            width: 32px;
            height: 32px;
            &:hover{
                opacity: 0.6;
            }
            &:active{
                opacity: 0.6;
            }
            img{
                width: 32px;
                height: 32px; 
            }
        }
    }
    .footer-top__list{
        display: flex;
        li{
            margin-left: 37px;
            a{
                font-style: normal;
                font-weight: 400;
                font-size: 12.8px;
                line-height: 15px;
                display: flex;
                align-items: center;
                color: #FFFFFF;
                &:hover{
                    opacity: 0.6;
                }
                &:active{
                    opacity: 0.6;
                }
                
            }
        }
    
    }
}
.footer-bottom{
    background-color: #1A1A1A;
    .footer-bottom__wrap{
        padding: 20px 0px;
        display: flex;
        align-items:center;
        justify-content: space-between;
        border-bottom: 1px solid #313131;;
        .footer-bottom__contact{
           display: flex;
           align-items:center;  
           .footer-bottom__contact_left{
            padding-right: 22px;
            border-right:1px solid #313131;
            margin-right: 24px;
            .footer-bottom__socialnetwork{
                display: flex;
                align-items:center;
                .footer-bottom__number{
                    margin-right: 10px;
                    color:#FFFFFF;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 15px;
                }
            }
            .footer-bottom__mail{
                padding-top: 6px;
                display: flex;
                align-items: center;
                font-size: 13px;
                font-weight: 400;
                line-height: 15px;
                letter-spacing: 0em;
                color:#FFFFFF;
            }
           }
           .footer-bottom__contact_right{
            font-family: Open Sans;
            font-size: 14px;
            font-weight: 400;
            line-height: 19px;
            color: #FFFFFF;
            width: 160px;
            display: flex;
            align-self:center;
           }
        }
        .foooter-bottom__list{
            display: flex;
            li{
                a{
                    margin-left: 19px;
                    font-weight: 400;
                    font-size: 12.8px;
                    line-height: 15px;
                    color: #FFFFFF;
                    span{
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 15px;
                        color: #FFFFFF;
                    }

                    &:hover{
                        opacity: 0.6;
                    }
                    &:active{
                        opacity: 0.6;
                    }
                }
            }
        }
    }
    .footer-bottom__copyright{
        padding: 19px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        display: flex;
        justify-content: center;
        color: #FFFFFF;
    }
}
.—Åurrencies{
    align-items: center;
    display: flex;
}
.kurs_content-list{
    display: flex;
    column-gap:15px;
    font-size: 13.2px;
    
    .kurs_content-item{
        align-items:center;
    }
    .kurs_triagle{
        align-items:center;
        width: 9px;
        height: 9px;
    }
}
@media screen and (max-width: 1200px){
    .header-top {
       .header-top__menu-list{
        li{
            padding: 0 18px;
        }
       }
    }
}
@media screen and (max-width: 991px){
    header {
      position: sticky;
      top: 0px;
      z-index: 1000;
      transition: top .5s;
      .container {
        padding: 0px;
      }
    }
    .header-top{
        padding: 0px;
        .header-top__left {
            justify-content: space-between;
            width: 100%;
            display: flex;
            align-items: center;
            padding-left: 20px;
            .header-top__logo{
                order: 1;
                margin-left: 0px;
                img{
                    height: 28px;
                    width: 105px;
                }
            }
            .header-top__menu{
                padding: 15px 18px;
                background: #FFE500;
                display: flex;
                order: 2;
                .header-top__btn {
                  height: 20px;
                  width: 22px;
                  svg {
                    line {
                      stroke: black;
                      fill: black;
                    }
                  }
                 svg {
                    path {
                      stroke: black;
                      fill: black;
                    }
                  }
                }
              }

              .header-top__menu-list{
                display: none;
            }
          }
        .header-top__right{
            display: none   ;
        }
    }
    .header-bottom{
        display: none;
    }
    .header-menu {
        padding-top: 32px;
        width: 100%;
        height: 60vh;
        display: none;
        grid-template-columns: 1fr;
        .header-menu__nav {
          display: flex;
          flex-direction: column;
            li {
                a {
                    display: flex;
                    line-height: 1.5;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    color:#ababab;
                    padding: 7px 0px 8px 0px;
                    text-decoration: none;
                    justify-content: center;
                    align-items: center;
                    &:hover{
                        opacity: 0.5;
                    }
                    &:active{
                        opacity: 0.5;
                    }
                  }
            }
        }
    }
       .header-menu__bottom{
            display: flex;
            justify-content: space-between;
            align-items:flex-end;
            width: 100%;
            margin: 50px 0px 5px 0px !important;
            line-height: 39px;
            a{
                width: 100%;
                border: 1px solid white;
                text-align: center;
                font-weight: 400;
                color:#FFFFFF;
            }
            
        }
    .footer-top {
        background: #191919;
        border-top: 13px solid #144C66;
        padding: 20px 0px 35px 0px;
        border-bottom:1px solid #313131;
        .footer-top__list{
            display: none;
        }
    }
    .footer-bottom {
        .footer-bottom__wrap{
            padding: 24px 0px 36px 0px;
            align-items:start;
            .foooter-bottom__list{
                order: 1;
                flex-direction: column;
                li{
                    margin-bottom: 19px;
                    &:last-child{
                        margin-bottom: 0px;
                    }
                    a{
                        margin-left: 0px;
                        color: #E0E0E0;
                        span{
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12.8px;
                            line-height: 20px;
                            color: #FFFFFF;
                        }
                    }
                }
            }
            .footer-bottom__contact{
                flex-direction: column;
                order: 2;
                .footer-bottom__contact_left{
                    margin-right: 0px;
                    padding-right: 0px;
                    width: 160px;
                    border-right:0px;
                    padding-bottom: 21px;
                    border-bottom:1px solid #313131;
                    margin-bottom: 15px;
                }
            }
        }
        .footer-bottom__copyright{
            padding: 24px 0px;
            text-align: center;
        }
    }
}
@media screen and (max-width: 767px){
}
@media screen and (max-width: 600px){

}
@media screen and (max-width: 330px){
    .footer-bottom{ 
        .footer-bottom__wrap {
            display: grid;
            grid-template-columns: 130px 1fr;
        }
    }
    

}



