@import "vars";
@import "fonts";
@import "libs";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::placeholder{
	color: #666
}

::selection{
	background-color: #1151f3;
	color: #fff;
}
input, textarea{
	outline: none;
	&:focus:required:invalid{
		border-color: red;
	}
	&:required:valid{
		border-color: green;
	}
}

ul{
	list-style: none;
}

body{
	height: 100%;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	font-family: 'Open Sans', Arial, sans-serif;
	overflow-x: hidden;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}


a{
	transition: 300ms;
	color: #000;
	text-decoration: none;
	font-family: 'Open Sans';
}

h1{
	font-size: 33px;
	line-height: 39px;
	font-weight: 700;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
section {
	margin-top: 19px;
	padding: 0px;
}
main {
	flex: 1 1 auto;
}

.container{
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.hidden {
	display: none;
}


@media screen and (min-width: 20px){
	.container{
		padding: 0px 20px;
	}
}



@media screen and (min-width: 992px){
	.container{
		width: 960px;
		padding: 0px 0px;
	}
}

@media screen and (min-width: 1201px){
	.container {
		width: 1180px;
	}
}

.z-row{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.d-flex{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hidden{
	display: none;
}


[class*="z-col-"] {
	padding: 0 10px;
}
.z-mt-3{
	margin-top: 1rem!important;
}
.z-mt-4{
	margin-top: 1.5rem!important;
}
.z-mb-3{
	margin-bottom: 1rem!important;
}
.z-mb-4{
	margin-bottom: 1.5rem!important;
}

@media (min-width: 740px){
	.z-col-md-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.z-col-md-11 {
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
	}
	.z-col-md-10 {
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}
	.z-col-md-9 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}
	.z-col-md-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}
	.z-col-md-7 {
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}
	.z-col-md-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.z-col-md-5 {
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}
	.z-col-md-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	.z-col-md-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.z-col-md-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
	.z-col-md-1 {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}
}

@media (min-width: 992px){
	.z-col-lg-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.z-col-lg-11 {
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
	}
	.z-col-lg-10 {
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}
	.z-col-lg-9 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}
	.z-col-lg-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}
	.z-col-lg-7 {
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}
	.z-col-lg-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.z-col-lg-5 {
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}
	.z-col-lg-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	.z-col-lg-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.z-col-lg-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
	.z-col-lg-1 {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}
}



@import "header-footer";
@import "page";
@import "adaptive";
