version: '3.3'

services:
  redis:
    image: redis:alpine
    ports:
      - "127.0.0.1:6379:6379"
    networks:
      - webnet

  web:
    build:
      context: .
      dockerfile: Dockerfile

    restart: always
    env_file:
      - ./.env
    depends_on:
      - redis
    volumes:
      - static_value:/app/static_files
      - media_value:/app/media
    networks:
      - webnet

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_value:/app/static_files
      - media_value:/app/media
    depends_on:
      - web
    networks:
      - webnet

networks:
  webnet:

volumes:
  static_value:
  media_value: