version: '3.3'

services:
  redis:
    image: redis:alpine
    ports:
      - "127.0.0.1:6379:6379"
    networks:
      - webnet

  web:
    build: .

    restart: always
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_value:/app/static/

      - media_value:/app/media/
    env_file:
      - ./.env
    depends_on:
      - redis
    networks:
      - webnet

  nginx:
    image: nginx:1.21.3-alpine
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt/live/01.imaq.kz/fullchain.pem:/etc/letsencrypt/live/01.imaq.kz/fullchain.pem
      - /etc/letsencrypt/live/01.imaq.kz/privkey.pem:/etc/letsencrypt/live/01.imaq.kz/privkey.pem
      - static_value:/var/html/static/
      - /var/www/static:/var/www/static
      - media_value:/var/html/media/
      - /var/www/front/app/dist:/var/www/front

    ports:
      - "8000:80"
      - "443:443"

    depends_on:
      - web
    networks:
      - webnet

networks:
  webnet:

volumes:
  static_value:
  media_value:
