version: '3.3'

services:
  redis:
    image: redis:alpine
    ports:
      - "127.0.0.1:6379:6379"
    networks:
      - webnet

  web:
    build:
      context: .
      dockerfile: Dockerfile

    restart: always
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    depends_on:
      - redis
    volumes:
      - static_value:/app/static_files
      - media_value:/app/media
    networks:
      - webnet


  nginx:
    image: nginx:1.21.3-alpine
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt/live/01.imaq.kz/fullchain.pem:/etc/letsencrypt/live/01.imaq.kz/fullchain.pem
      - /etc/letsencrypt/live/01.imaq.kz/privkey.pem:/etc/letsencrypt/live/01.imaq.kz/privkey.pem
      - static_value:/app/static_files
      - /var/www/static:/var/www/static
      - media_value:/app/media
      - /var/www/front/app/dist:/var/www/front

    ports:
      - "80:80"
      - "443:443"

    depends_on:
      - web
    networks:
      - webnet



networks:
  webnet:

volumes:
  static_value:
  media_value:
