version: '3.3'

services:
  redis:
    image: redis:alpine
    ports:
      - "127.0.0.1:6379:6379"
    networks:
      - webnet

  web:
    build:
      context: .
      dockerfile: Dockerfile

    restart: always
    env_file:
      - ./.env
    depends_on:
      - redis
    volumes:
      - static_volume:/app/static_files
      - media_volume:/app/media
    networks:
      - webnet
    ports:
      - "8000:8000"


networks:
  webnet:

volumes:
  static_value:
  media_value:
