version: '3.3'

services:
  redis:
    image: redis:alpine
    ports:
      - "127.0.0.1:6379:6379"
    networks:
      - webnet

  web:
    build:
      context: .
      dockerfile: Dockerfile

    restart: always
    env_file:
      - ./.env
    depends_on:
      - redis
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
    networks:
      - webnet
    ports:
      - "8000:8000"

  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/static
      - media_volume:/app/media
    ports:
      - "80:80"
    depends_on:
      - web
    networks:
      - webnet


networks:
  webnet:

volumes:
  static_volume:
  media_volume: