version: '3.3'

services:
  redis:
    image: redis:alpine
    ports:
      - "127.0.0.1:6379:6379"
    networks:
      - webnet

  web:
    build:
      context: .
      dockerfile: Dockerfile

    restart: always
    volumes:
      - ./news:/app/news
      - ./templates:/app/templates
      - ./config:/app/config
    env_file:
      - ./.env
    depends_on:
      - redis
      - db
    networks:
      - webnet
    ports:
      - "8000:8000"

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - webnet

networks:
  webnet:

volumes:
  static_value:
  media_value:
  postgres_data:
