{% extends "base.html" %} {% load static %}{% load today_tags %} {% block
content %}
<main>
  <section>
    <div class="container">
      <div class="wrap">
        {% include "popular_news.html" %}
        <div class="main-news">
          <div class="info-site">
            <ul class="main-news__bread-crumb">
              <li><a href="{% url 'news:index' %}">Главная</a></li>
              <li><span class="current">О сайте</span></li>
            </ul>
            <h1>О сайте</h1>
            <p>
              01.imaq.kz — интернет-ресурс о жизни столицы Казахстана. Мы
              публикуем по-настоящему интересные новости Астаны, рассказываем о
              значимых происшествиях и событиях в обществе, культуре и
              искусстве. Все то, чем живет столица и что важно для астанчан.
              Материалы на сайте разбиты на категории:
            </p>
            <strong>Политика</strong>
            <p>
              Актуальная политическая повестка столицы Казахстана. Законы,
              указы, кадровые перестановки в высших эшелонах власти.
            </p>
            <strong>Экономика</strong>
            <p>
              Главная финансовая информация Астаны. Банки, налоги, курс валют.
              Узнайте об изменениях в пенсионной системе Казахстана,
              разоблачениях крупных финансовых пирамид и о ситуации на рынке
              труда.
            </p>
            <strong>Общество</strong>
            <p>
              Пишем о важнейших спортивных событиях Астаны. Публикуем материалы
              о ключевых изменениях в системах образования и здравоохранения
              Казахстана.
            </p>
            <strong>Происшествия</strong>
            <p>
              ДТП, несчастные случаи, чрезвычайные происшествия в Астане.
              Репортажи о самых громких судебных заседаниях.
            </p>
          </div>
        </div>
        {% include "category_news.html" %}
      </div>
    </div>
  </section>
</main>
{% endblock %}
