{% extends "base.html" %}
{% load new_details_modal %}
{% load static %}
{% block meta_data %}
    <title>Самая актуальная информация для жителей Астаны 👉 Политика, экономика, спорт, курс валют, прогноз погоды 👉
        01.imaq.kz</title>
    <meta name="description"
          content="Новости Астаны ✅ Картина дня, происшествия, новости экономики, события в искусстве и культуре✍ Все то, что важно для жителей крупнейшего мегаполиса Казахстана⚡01.imaq.kz ⚡"/>
    <meta property="og:image" content="{% static 'img/@1x/preview.jpg' %}"/>
    <link rel="canonical" href="https://01.imaq.kz/"/>
    <script type="application/ld+json">
        {
            "@context":"http://schema.org",
            "@type":"Organization",
            "name":"01.imaq.kz",
            "url":"https://01.imaq.kz/",
            "logo":"https://01.imaq.kz/static/img/logo_img.svg"
        }
    </script>
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "WebSite",
          "url": "https://01.imaq.kz/",
          "potentialAction": {
            "@type": "SearchAction",
            "target": "https://01.imaq.kz/",
            "query-input": "required name=search_term_string"
          }
        }
    </script>
{% endblock meta_data %}

{% block content %}
    <main>
        <section>
            <div class="flex flex-col justify-center mx-[100px]">
                <div class="flex flex-col w-full justify-center">
                    <!-- Мэйн-блок и мини-блоки с навигацией -->
                    {% include "includes/index_blocks.html" %}
                    <!-- Инструктажи -->
                    <div class="flex flex-row gap-2 pt-[5px] justify-between">
                        <div class="flex flex-col max-w-[438px] w-full">
                            <!-- Инструктажи -->
                            {% include "includes/index_briefing.html" %}
                            <!-- Документы -->
                            {% include "includes/index_documents.html" %}
                            <!-- Управление рисками -->
                            {% include "includes/index_risks.html" %}
                            <!-- Кауипмедиа -->
                            {% include "includes/index_qauipmedia.html" %}

                        </div>
                        <div class="flex flex-col w-full">
                            <!-- Новости -->
                            {% include "includes/index_news.html" %}
                            <!-- Аналитика -->
                            {% include "includes/index_analytics.html" %}
                        </div>
                        <div class="flex flex-col max-w-[464px] w-full">
                            <!-- Календарь событий -->
                            {% include "includes/main/calendar.html" %}
                            <!-- Кейсы автоматизации -->
                            {% include "includes/index_autoKeys.html" %}
                            <!-- Законодательство -->
                            {% include "includes/index_law.html" %}
                            <!-- Чек-листы -->
                            {% include "includes/index_checklists.html" %}
                            <!-- Вопросы и ответы -->
                            {% include "includes/index_questions.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% render_new_details_modal selected_new_alias %}
{% endblock %}

