{% extends "base.html" %}
{% load new_details_modal %}
{% load static %}
{% block meta_data %}
    <title>Самая актуальная информация для жителей Астаны 👉 Политика, экономика, спорт, курс валют, прогноз погоды 👉
        01.imaq.kz</title>
    <meta name="description"
          content="Новости Астаны ✅ Картина дня, происшествия, новости экономики, события в искусстве и культуре✍ Все то, что важно для жителей крупнейшего мегаполиса Казахстана⚡01.imaq.kz ⚡"/>
    <meta property="og:image" content="{% static 'img/@1x/preview.jpg' %}"/>
    <link rel="canonical" href="https://01.imaq.kz/"/>
    <script type="application/ld+json">
        {
            "@context":"http://schema.org",
            "@type":"Organization",
            "name":"01.imaq.kz",
            "url":"https://01.imaq.kz/",
            "logo":"https://01.imaq.kz/static/img/logo_img.svg"
        }
    </script>
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "WebSite",
          "url": "https://01.imaq.kz/",
          "potentialAction": {
            "@type": "SearchAction",
            "target": "https://01.imaq.kz/",
            "query-input": "required name=search_term_string"
          }
        }
    </script>
{% endblock meta_data %}

{% block content %}
    <main>
        <div class="flex flex-col lg:flex-row gap-4 px-6 lg:px-[100px]">
            <!-- Column 1 -->
            <div class="flex flex-col w-full lg:max-w-[438px] order-2 lg:order-1">
                {% include "includes/main/index_briefing.html" %}
                {% include "includes/main/index_documents.html" %}
                {% include "includes/main/index_risks.html" %}
                {% include "includes/main/index_qauipmedia.html" %}
            </div>

            <!-- Column 2 -->
            <div class="flex flex-col w-full order-1 lg:order-2">
                {% include "includes/main/index_blocks.html" %}
                {% include "includes/main/index_news.html" %}
                {% include "includes/main/index_analytics.html" %}
            </div>

            <!-- Column 3 -->
            <div class="flex flex-col w-full lg:max-w-[464px] order-3">
                {% include "includes/main/calendar.html" %}
                {% include "includes/main/index_autoKeys.html" %}
                {% include "includes/main/index_law.html" %}
                {% include "includes/main/index_checklists.html" %}
                {% include "includes/main/index_questions.html" %}
            </div>
        </div>
    </main>
{% endblock %}

