{% load static %}
<!-- Modal Overlay -->
<div id="authModal" class="fixed inset-0 z-50 hidden items-start justify-center bg-[#1E1E1EBF]/75 pt-[94px]" onclick="closeModal()">
    <!-- Modal Container -->
    <div class="bg-white rounded-2xl w-full max-w-md p-6 shadow-xl text-sm" onclick="event.stopPropagation()">
        <!-- Header -->
        <div class="flex flex-col border-b-3 border-b-[#F5F5F5] gap-1 mb-6">
            <h2 class="text-2xl font-bold mb-1">Регистрация</h2>
            <p class="font-medium mb-3">Введите контактные данные, чтобы получить бесплатный доступ</p>
        </div>

        <!-- Form -->
        <form method="POST" action="{% url 'news:register' %}" class="space-y-4">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <!-- Full Name -->
            <div class="flex gap-[10px]">
                <img src="{% static 'img/16/profile.svg' %}" alt="profile"/>
                {{ form.full_name }}
            </div>
            <!-- Position -->
            <div class="flex gap-[10px]">
                <img src="{% static 'img/16/position.svg' %}" alt="profile"/>
                {{ form.position }}
            </div>
            <!-- Phone -->
            <div class="flex gap-[10px]">
                <img src="{% static 'img/16/phone.svg' %}" alt="profile"/>
                {{ form.phone }}
            </div>
            <!-- Email -->
            <div class="flex gap-[10px]">
                <img src="{% static 'img/16/email.svg' %}" alt="profile"/>
                {{ form.email }}
            </div>
            <!-- Password -->
            <div class="flex gap-[10px]">
                <img src="{% static 'img/16/key.svg' %}" alt="profile"/>
                {{ form.password }}
            </div>
            <!-- Confirm Password -->
            <div class="flex gap-[10px]">
                <img src="{% static 'img/16/key.svg' %}" alt="profile"/>
                {{ form.confirm_password }}
            </div>

            <!-- Submit Button -->
            <button
                    type="submit"
                    class="w-full bg-red-600 hover:bg-red-700 text-white font-semibold rounded-xl py-3"
            >
                Войти
            </button>

            <!-- Link -->
            <div class="text-center pt-4">
                <a href="/" class="text-sm text-gray-500 underline">Вернуться на главную</a>
            </div>
        </form>
    </div>
</div>

<script>
    function closeModal() {
        document.getElementById('authModal').classList.remove('flex');
        document.getElementById('authModal').classList.add('hidden');
    }
</script>