{% load static %}
<div class="flex flex-col max-w-[363px] w-full h-auto shadow-[0px_4px_4px_0px_#0000001A] bg-white mt-3 p-4 rounded-[16px]">
    <div class="flex flex-row justify-between w-full h-[96px] border-b-2 border-[#EFEFEF]">
        <div class="flex flex-col max-w-[75%]">
            <text class="font-[700] text-[20px]">Календарь событий</text>
            <text class="font-[500] text-[12px]">Следи за важными датами в сфере охраны труда: форумы, проверки, дедлайны и ключевые мероприятия</text>
        </div>
        <a href="" class="w-[29px] h-[29px]">
            <img class="w-[29px]" src="{% static 'img/_src/icons/Frame 58 (6).png' %}">
        </a>
    </div>
    <div class="p-1 pt-3">
        <img class="w-auto" src="{% static 'img/_src/icons/Frame 53.svg' %}">
        <div class="p-2">
        <!-- Заголовок -->
            <div class="flex flex-row justify-between items-center">
                <h1 class="text-[16px] font-bold text-primary text-center text-[#F05F4B]">15 мая</h1>
                <img class="w-auto h-[24px]" src="{% static 'img/_src/icons/stat_minus_1.svg' %}">
            </div>
                <!-- Список мероприятий -->
            <ul class="font-medium text-[13px] font-[400]">
                <li class="flex items-start pt-2">
                    <span class="text-accent font-medium mr-2">•</span>
                    <span class="">Марафон знаний по охране труда: 5 дней — 5 задач!</span>
                </li>
                <li class="flex items-start pt-2">
                    <span class="text-accent font-medium mr-2">•</span>
                    <span class="">Обучение без отрыва от производства: онлайн-курс по ТБ за 3 дня</span>
                </li>
                <li class="flex items-start pt-2">
                    <span class="text-accent font-medium mr-2">•</span>
                    <span class="">Конкурс на лучшую памятку по ТБ — твоя инструкция может спасти жизнь</span>
                </li>
                <li class="flex items-start pt-2">
                    <span class="text-accent font-medium mr-2">•</span>
                    <span class="">Пожарная тренировка с демонстрацией — попробуй сам потушить!</span>
                </li>
                <li class="flex items-start pt-2">
                    <span class="text-accent font-medium mr-2">•</span>
                    <span class="">Как действовать при ЧС: мини-сценарии и разборы в цеху</span>
                </li>
            </ul>
        </div>
    </div>

</div>