{% load static %}

<div class="flex flex-row justify-between min-h-[479px] shadow-[0px_4px_4px_0px_#0000001A] bg-white mt-3 rounded-[16px] gap-6">
    <div class="flex flex-col justify-center pl-14 gap-3 py-6">
        <text class=" w-max-[819px] w-full text-3xl left-[52px] top-[102px] font-[600] leading-10 text-[#A96500]">
            Портал по охране труда и технике безопасности в Казахстане.
        </text>
        <text class=" w-max-[819px] w-full text-3xl left-[52px] top-[102px] font-[600] leading-10 text-[#A96500]">
            Инструкции, законы, новости и готовые решения - всё, что нужно специалисту ТБ.
        </text>
        <text class=" w-max-[819px] w-full text-3xl left-[52px] top-[102px] font-[600] leading-10 text-[#A96500]">
            Только проверенная информация, умный поиск и ежедневные обновления - чтобы работать уверенно и безопасно.
        </text>
        <a href="https://t.me/PrimeHSEanalytics" class="max-w-[288px] flex items-center justify-center px-6 py-[18px] text-nowrap font-[600] text-white text-[18px] rounded-[16px] bg-[#ED1A39] border-solid mt-4">
            Стать частью сообщества
        </a>
    </div>
    <img class=" rounded-r-[16px] w-full" src="{% static 'img/_src/icons/smile.png' %}">
</div>
<div class="flex flex-row gap-2">
    <a href="{% url 'news:all_news' %}" class="flex flex-row justify-center items-center h-[137px] w-full shadow-[0px_4px_4px_0px_#0000001A] bg-white mt-3 rounded-[16px]">
        <div  class="flex flex-col justify-center items-center gap-2">
            <img class="w-[58px]" src="{% static 'img/_src/icons/Frame 58.png' %}">
            <text class="w-full text-[16px] font-[600] text-[#1E1E1E]">
                Новости
            </text>
        </div>
    </a>
    <a href="laws" class="flex flex-row justify-center items-center h-[137px] w-full shadow-[0px_4px_4px_0px_#0000001A] bg-white mt-3 rounded-[16px]">
        <div  class="flex flex-col justify-center items-center gap-2">
            <img class="w-[58px]" src="{% static 'img/_src/icons/Frame 58 (1).png' %}">
            <text class="w-full text-[16px] font-[600] text-[#1E1E1E]">
                Законодательство
            </text>
        </div>
    </a>
    <a href="" class="flex flex-row justify-center items-center h-[137px] w-full shadow-[0px_4px_4px_0px_#0000001A] bg-white mt-3 rounded-[16px]">
        <div  class="flex flex-col justify-center items-center gap-2">
            <img class="w-[58px]" src="{% static 'img/_src/icons/Frame 59.png' %}">
            <text class="w-full text-[16px] font-[600] text-[#1E1E1E]">
                Чек-листы
            </text>
        </div>
    </a>
    <a href="faqs" class="flex flex-row justify-center items-center h-[137px] w-full shadow-[0px_4px_4px_0px_#0000001A] bg-white mt-3 rounded-[16px]">
        <div  class="flex flex-col justify-center items-center gap-2">
            <img class="w-[58px]" src="{% static 'img/_src/icons/Frame 58 (2).png' %}">
            <text class="w-full text-[16px] font-[600] text-[#1E1E1E]">
                Вопрос-ответ
            </text>
        </div>
    </a>
    <a href="study" class="flex flex-row justify-center items-center h-[137px] w-full shadow-[0px_4px_4px_0px_#0000001A] bg-white mt-3 rounded-[16px]">
        <div  class="flex flex-col justify-center items-center gap-2">
            <img class="w-[58px]" src="{% static 'img/_src/icons/Frame 58 (3).png' %}">
            <text class="w-full text-[16px] font-[600] text-[#1E1E1E]">
                Обучение
            </text>
        </div>
    </a>
    <a href="webinars" class="flex flex-row justify-center items-center h-[137px] w-full shadow-[0px_4px_4px_0px_#0000001A] bg-white mt-3 rounded-[16px]">
        <div  class="flex flex-col justify-center items-center gap-2">
            <img class="w-[58px]" src="{% static 'img/_src/icons/Frame 58 (4).png' %}">
            <text class="w-full text-[16px] font-[600] text-[#1E1E1E]">
                Вебинары
            </text>
        </div>
    </a>
</div>