{% load static %}
<div class="flex flex-col w-full h-auto shadow-[0px_4px_4px_0px_#0000001A] bg-white mt-3 p-4 rounded-[16px]">
    <div class="flex flex-col w-full border-b-3 border-[#EFEFEF] pb-3">
        <div class="flex justify-between">
            <text class="font-[700] text-[24px]">Кейсы автоматизации</text>

            <a href="" class="w-[36px] h-fit">
                <img src="{% static 'img/_src/icons/Frame 58 (6).png' %}">
            </a>
        </div>
        <text class="font-[500] text-[16px]">Реальные примеры, как цифровые решения упрощают работу в ТБ
        </text>
    </div>
    <div class="flex flex-col w-full h-auto p-3 border-b-2 border-[#EFEFEF]">
        <div class="flex justify-center items-center text-[10px] text-white rounded-[16px] bg-[#DF3131] py-1 px-2 w-fit h-4">Новое</div>
        <div class="flex flex-col">
            <div class="flex flex-row justify-start items-center">
                <img class="w-[24px] h-[24px] mt-1" src="{% static 'img/_src/icons/stars_2.svg' %}">
                <text class="font-[700] text-[16px] ml-[9px]">Ваш личный AI HSE-специалист 24/7</text>
            </div>
            <text class="text-[14px] leading-4.5 pt-2">Низкий порог внедрения: базовые функции работают сразу, без сложной настройки и обучения</text>
        </div>
        <div class="text-[14px] text-[#444444] flex justify-end pt-2">02.01.2025</div>
    </div>
    <div class="flex flex-col w-full h-auto p-3 border-b-2 border-[#EFEFEF]">
        <div class="flex justify-center items-center text-[10px] text-white rounded-[16px] bg-[#DF3131] py-1 px-2 w-fit h-4">Новое</div>
        <div class="flex flex-col">
            <div class="flex flex-row justify-start items-center">
                <img class="w-[24px] h-[24px] mt-1" src="{% static 'img/_src/icons/stars_2.svg' %}">
                <text class="font-[700] text-[16px] ml-[9px]">Швеция — Smart PPE (умные СИЗы)</text>
            </div>
            <text class="text-[14px] leading-4.5 pt-2">Компании внедряют каски с датчиками удара и трекеры положения тела, которые отправляют сигнал в случае...</text>
        </div>
        <div class="text-[14px] text-[#444444] flex justify-end pt-2">02.01.2025</div>
    </div>
    <div class="flex flex-col w-full h-auto p-3 border-b-2 border-[#EFEFEF]">
        <div class="flex justify-center items-center text-[10px] text-white rounded-[16px] bg-[#DF3131] py-1 px-2 w-fit h-4">Новое</div>
        <div class="flex flex-col">
            <div class="flex flex-row justify-start items-center">
                <img class="w-[24px] h-[24px] mt-1" src="{% static 'img/_src/icons/stars_2.svg' %}">
                <text class="font-[700] text-[16px] ml-[9px]">Cингапур — цифровая система Permit-to-Work</text>
            </div>
            <text class="text-[14px] leading-4.5 pt-2">Компании внедряют каски с датчиками удара и трекеры положения тела, которые отправляют сигнал в случае...</text>
        </div>
        <div class="text-[14px] text-[#444444] flex justify-end pt-2">02.01.2025</div>
    </div>
</div>