{% load static %}
<div class="flex flex-col max-w-[343px] w-full h-auto shadow-[0px_4px_4px_0px_#0000001A] bg-white mt-3 p-4 rounded-[16px]">
    <div class="flex flex-row justify-between w-full h-[96px] border-b-2 border-[#EFEFEF]">
        <div class="flex flex-col max-w-[75%]">
            <text class="font-[700] text-[20px]">Qauipmedia</text>
            <text class="font-[500] text-[12px]">Наш авторский видеопроект о безопасности с лучшими экспертами страны.</text>
        </div>
        <a href="{% url 'news:qauipmedia' %}" class="w-[29px] h-[29px]">
            <img class="w-[29px]" src="{% static 'img/_src/icons/Frame 58 (6).png' %}">
        </a>
    </div>
    <div class="flex flex-col w-full p-1 pb-[16px] border-b-2 border-[#EFEFEF] justify-center">
        <div class="flex flex-col gap-2">
            <div class="h-auto w-auto">
                <div class="video-container">
                    <iframe
                            class="w-full  mt-[16px]"
                            src="https://www.youtube.com/embed/ohEQtydX4Kc?si=B4Lj3U_3dukhVI3m"
                            title="YouTube video"
                            allowfullscreen>
                    </iframe>
                </div>
            </div>
            <div class="text-[11px] text-[#444444] flex justify-end">02.01.2025</div>
        </div>
    </div>
    <div class="flex flex-col w-full p-1 pb-[16px] border-b-2 border-[#EFEFEF] justify-center">
        <div class="flex flex-col gap-2">
            <div class="h-auto w-auto">
                <div class="video-container">
                    <iframe
                            class="w-full  mt-[16px]"
                            src="https://www.youtube.com/embed/E5qEnuEF0tc?si=VcBIkbeOMZ40hrHV"
                            title="YouTube video"
                            allowfullscreen>
                    </iframe>
                </div>
            </div>
            <div class="text-[11px] text-[#444444] flex justify-end">02.01.2025</div>
        </div>
    </div>
    <div class="flex flex-col w-full p-1 pb-[16px] border-b-2 border-[#EFEFEF] justify-center">
        <div class="flex flex-col gap-2">
            <div class="h-auto w-auto">
                <div class="video-container">
                    <iframe
                            class="w-full  mt-[16px]"
                            src="https://www.youtube.com/embed/ohEQtydX4Kc?si=B4Lj3U_3dukhVI3m"
                            title="YouTube video"
                            allowfullscreen>
                    </iframe>
                </div>
            </div>
            <div class="text-[11px] text-[#444444] flex justify-end">02.01.2025</div>
        </div>
    </div>
    <div class="flex flex-col w-full p-1 pb-[16px] border-b-2 border-[#EFEFEF] justify-center">
        <div class="flex flex-col gap-2">
            <div class="h-auto w-auto">
                <div class="video-container">
                    <iframe
                            class="w-full mt-[16px]"
                            src="https://www.youtube.com/embed/E5qEnuEF0tc?si=VcBIkbeOMZ40hrHV"
                            title="YouTube video"
                            allowfullscreen>
                    </iframe>
                </div>
            </div>
            <div class="text-[11px] text-[#444444] flex justify-end">02.01.2025</div>
        </div>
    </div>
</div>