{% load static %}
<div class="flex flex-col max-w-[363px] w-full h-auto shadow-[0px_4px_4px_0px_#0000001A] bg-white mt-3 p-4 rounded-[16px]">
   <div class="flex flex-row justify-between w-full h-[45px] border-b-2 border-[#EFEFEF]">
        <div class="flex flex-col max-w-[75%]">
            <text class="font-[700] text-[20px]">Вопросы и ответы</text>
        </div>
        <a href="" class="w-[29px] h-[29px]">
            <img class="w-[29px]" src="{% static 'img/_src/icons/Frame 58 (6).png' %}">
        </a>
   </div>
    <div class="flex flex-col w-full h-auto p-3 border-b-2 border-[#EFEFEF]">
        <div class="flex flex-col w-full h-auto  gap-1">
            <text class="font-[700] text-[14px] ">Как бороться с формализмом на местах?</text>
            <div class="flex flex-row justify-start items-center">
                <img class="w-auto h-[27px] mt-1" src="{% static 'img/_src/icons/Ellipse 1.svg' %}">
                <div class="flex flex-col ml-[9px] gap-0.5">
                    <text class="font-[700] text-[12px] ">Алексей Владимирович Рогов</text>
                    <text class="text-[12px] leading-3 ">инженер по пожарной безопасности</text>
                </div>
            </div>
        </div>
        <div class="text-[11px] text-[#444444] flex justify-end">02.01.2025</div>
    </div>
    <div class="flex flex-col w-full h-auto p-3 border-b-2 border-[#EFEFEF]">
        <div class="flex flex-col w-full h-auto  gap-1">
            <text class="font-[700] text-[14px] leading-4">Руководитель против ТБ: как убедить начальство, а не спорить</text>
            <div class="flex flex-row justify-start items-center">
                <img class="w-auto h-[27px] mt-1" src="{% static 'img/_src/icons/Ellipse 1 (1).svg' %}">
                <div class="flex flex-col ml-[9px] gap-0.5">
                    <text class="font-[700] text-[12px] ">Даурен Нурланович Каирбеков</text>
                    <text class="text-[12px] leading-3 ">координатор по обучению и сертификации</text>
                </div>
            </div>
        </div>
        <div class="text-[11px] text-[#444444] flex justify-end">02.01.2025</div>
    </div>
    <div class="flex flex-col w-full h-auto p-3 border-b-2 border-[#EFEFEF]">
        <div class="flex flex-col w-full h-auto  gap-1">
            <text class="font-[700] text-[14px] ">Как бороться с формализмом на местах?</text>
            <div class="flex flex-row justify-start items-center">
                <img class="w-auto h-[27px] mt-1" src="{% static 'img/_src/icons/Ellipse 1 (2).svg' %}">
                <div class="flex flex-col ml-[9px] gap-0.5">
                    <text class="font-[700] text-[12px] ">Алексей Владимирович Рогов</text>
                    <text class="text-[12px] leading-3 ">инженер по пожарной безопасности</text>
                </div>
            </div>
        </div>
        <div class="text-[11px] text-[#444444] flex justify-end">02.01.2025</div>
    </div>
</div>