{% load static %}
<html lang="ru">
    <head>
        <!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-EZMX6GZNJZ"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-EZMX6GZNJZ');
	</script>
        <meta charset="utf-8" />
        {% block meta_data %}
        <title>Самая актуальная информация для жителей Астаны 👉 Политика, экономика, спорт, курс валют, прогноз погоды 👉 01.imaq.kz</title>
        <meta name="description" content="Новости Казахстана ✅ Картина дня, происшествия, новости экономики, события в искусстве и культуре✍ Все то, что важно для жителей Казахстана⚡imaq.kz ⚡" />
        <meta property="og:image" content="{% static 'img/@1x/preview.jpg' %}" />
        {% endblock meta_data %}
        <link rel="preconnect" href="https://d2z6dsbl451t3b.cloudfront.net" />
        <link rel="dns-prefetch" href="https://d2z6dsbl451t3b.cloudfront.net" />
        <link rel="dns-prefetch" href="https://01.imaq.kz" />
        <link rel="shortcut icon" href="{% static 'img/fav.svg' %}" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <meta name="keywords" content="" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body>
        <header class="flex p-4 bg-black">
            <label>
                <input />
            </label>
        </header>
        {% block content %} {% endblock content %}
    </body>
</html>
