{% load sms_confirm_modal %}
{% load auth_modal %}
{% load static %}
<html lang="ru">
<head>
    <!-- Google tag (gtag.js) -->
    <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-EZMX6GZNJZ"
    ></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag("js", new Date());

        gtag("config", "G-EZMX6GZNJZ");
    </script>
    <meta charset="utf-8"/>
    {% block meta_data %}
        <title>
            Самая актуальная информация для жителей Астаны 👉 Политика, экономика,
            спорт, курс валют, прогноз погоды 👉 01.imaq.kz
        </title>
        <meta
                name="description"
                content="Новости Казахстана ✅ Картина дня, происшествия, новости экономики, события в искусстве и культуре✍ Все то, что важно для жителей Казахстана⚡imaq.kz ⚡"
        />
        <meta property="og:image" content="{% static 'img/@1x/preview.jpg' %}"/>
    {% endblock meta_data %}
    <link rel="preconnect" href="https://d2z6dsbl451t3b.cloudfront.net"/>
    <link rel="dns-prefetch" href="https://d2z6dsbl451t3b.cloudfront.net"/>
    <link rel="dns-prefetch" href="https://01.imaq.kz"/>
    <link
            rel="shortcut icon"
            href="{% static 'img/fav.svg' %}"
            type="image/x-icon"
    />
    <meta name="viewport" content="width=device-width"/>
    <meta name="keywords" content=""/>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
</head>
<body class="bg-[#F5F5F5]">
<header class="flex justify-center items-center h-[97px] bg-[#7D151E]">
    <div class="flex w-full mx-[100px] justify-between text-white flex gap-8 items-center">
        <div class="flex gap-8">
            <div class="flex gap-6">
                <a href="{% url 'news:index' %}">
                    <img
                            class="h-[49px] w-[177px]"
                            src="{% static 'img/_src/icons/Asset 6.png' %}"
                    />
                </a>
                <h1 class="font-[700] text-[16px] leading-5 w-full max-w-[228px]">
                    Безопасность — не требование, а культура...
                </h1>
            </div>

            <a
                    href="/"
                    class="flex font-[700] text-[16px] items-center justify-center"
            >Главная</a
            >
            <a
                    href=""
                    class="flex font-[700] text-[16px] items-center justify-center"
            >О нас</a
            >
            <a
                    href=""
                    class="flex font-[700] text-[16px] items-center justify-center"
            >Задай вопрос</a
            >
        </div>


        <div class="flex gap-3">
            <a
                    href="https://hseprime.kz"
                    class="flex h-[39px] w-[109px] font-[600] text-[12px] px-6 py-3 items-center justify-center rounded-[16px] bg-[#3F8CFF] border-solid text-nowrap"
            >
                HSE Prime
            </a>
            <a
                    href="https://www.youtube.com/@HSEQauipsizAnalytics"
                    class="flex w-[118px] h-[39px] font-[600] text-[12px] px-6 py-3 items-center justify-center rounded-[16px] bg-[#ED1A39] border-solid"
            >
                Qauipmedia
            </a>
            <input
                    type="text"
                    name="q"
                    placeholder="Поиск через HSE GPT..."
                    class="font-[600] text-[12px] text-black bg-[#F5F5F5] rounded-[16px] placeholder:text-[12px] rounded px-3 py-2 focus:outline-none focus:ring-0 placeholder:text-[#1E1E1E] min-w-[300px]"
            />
            {% if request.user.is_authenticated %}
                <button
                        class="h-[39px] flex font-[600] text-[12px] text-[#AF1E2A] justify-center border-1 bg-white rounded-[16px] items-center border-solid px-6 py-3 text-nowrap"
                >{{ request.user.profile.full_name }}</button>
            {% else %}
                <button
                        onclick="showAuthModal()"
                        class="h-[39px] flex font-[600] text-[12px] text-[#AF1E2A] w-[84px] justify-center border-1 bg-white rounded-[16px] items-center border-solid px-6 py-3"
                >
                    Войти
                </button>
            {% endif %}

            <!-- Кнопка для локализации -->
            <h1 class="font-[700] text-[12px] text-white self-center">RU</h1>
        </div>
    </div>
</header>

{% if messages %}
    <ul class="space-y-2">
        {% for message in messages %}
            <li class="text-sm text-white p-2
                      {% if message.tags == 'success' %} bg-green-600
                      {% elif message.tags == 'error' %} bg-red-600
                      {% elif message.tags == 'warning' %} bg-yellow-500
                      {% else %} bg-blue-500
                      {% endif %}">
                {{ message }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% render_auth_modal %}
{% render_sms_confirm_modal show_sms_confirm_modal %}

{% block content %} {% endblock content %}
</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        scrollToLastMousePosition()
    });

    function showAuthModal() {
        document.getElementById('authModal').classList.remove('hidden');
        document.getElementById('authModal').classList.add('flex');
    }

    function trackCurrentMousePosition(event) {
        const x = event.clientX;
        const y = event.clientY;

        sessionStorage.setItem('lastMousePosition', JSON.stringify({x, y}))
    }

    function scrollToLastMousePosition() {
        const lastMousePositionString = sessionStorage.getItem('lastMousePosition')

        if (lastMousePositionString) {
            const lastMousePosition = JSON.parse(lastMousePositionString)

            if (lastMousePosition) {
                const {x: top, y} = lastMousePosition
                const left = y - window.innerHeight / 2;
                window.scrollTo({top, left, behavior: 'smooth'})
            }
        }
    }
</script>
